<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Output from Analytics</title>
	<!--This Document will be loaded by an html root directory page in order to load the analytics stream-->
	<script>
			function logIn(username,password) {
                $.ajax({
                    type: 'GET',

                    url: "axspa.org.uk/asst/Analytics",
                    //Add the request header
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + btoa(username + ":" + password));
                    },
                    success: function (data) {
                        console.log(data.content);
                        $('#AnalyticsData').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        $('#error').html("Failed to proceed with password reset for <b>" + username + "</b>").css('display', 'inline');
                    }
                });

			}
		</script>
</head>

<body>
	<div id="LogIn"  style="width: 600px; float:right">
		<form id="LogInForm">
			<label name="log in">Please Log in:</label><br/>
			<input type="text" name="username" id="userNameBx" placeholder="Enter Username"/><br/>
			<input type="text" name="password" id="userPassBx" placeholder="Enter Password"/><br/>
			<input type="button" onclick="logIn(LogInForm.userNameBx.value,LogInForm.userPassBx.value)" value="Submit"/>
		</form>
	</div>
	<div id="AnalyticsData"/>
    <div id="error"/>
</body>
</html>