<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Output from Analytics</title>
	<!--This Document will be loaded by an html root directory page in order to load the analytics stream-->
	<script>
			function logIn(username,password) {
				$.ajax({
					type: 'GET',
					url: "https://axspa.org.uk/asst/HelixTech/Public/asstAPI/Analytics",
					//Add the request header
					contentType: 'application/x-www-form-urlencoded',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("Authorization", "Basic " + btoa(username + ":" + password));
					},
					success: function (data) {
						console.log(data);
						$('#AnalyticsData').html(data);
					},
					error: function (xhr, status, error) {
						var err = eval("(" + xhr.responseText + ")");
					}
				});
			}
		</script>
</head>

<body>
	<div id="LogIn"  style="width: 600px; float:right">
		<form id="LogInForm">
			<label name="log in">Please Log in:</label><br/>
			<input type="text" name="username" id="userNameBx" placeholder="Enter Username"/><br/>
			<input type="text" name="password" id="userPassBx" placeholder="Enter Password"/><br/>
			<input type="button" onclick="logIn(LogInForm.userNameBx.value,LogInForm.userPassBx.value)" value="Submit"/>
		</form>
	</div>
	<div id="AnalyticsData"/>
</body>
</html>