<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Output from Analytics</title>
	<!--This Document will be loaded by an html root directory page in order to load the analytics stream-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        table#AnalyticsTable {
            width: 100%;
            border-spacing: 5px;
            table-layout: fixed;
        }
        th {
            white-space: nowrap;
        }

    </style>

    <script>
			function logIn(username,password) {
                $.ajax({
                    type: 'GET',

                    url: "https://axspa.org.uk/asst/Analytics",
                    //Add the request header
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + btoa(username + ":" + password));
                    },
                    success: function (data) {   
                        $('#error').css('display', 'none');
                        $('#AnalyticsData')
                            .html(
                            "Number of Average reuqsts per weeek: " + data.content.AVERAGE_REQUESTS + "<br/>" +
                            "Number of Distinct IP addresses: " + data.content.DISTINCT_IP_COUNT + "<br/>" +
                            "Number of Distinct Users: " + data.content.DISTINCT_USER_COUNT + "<br/>" 
                            )
                            .css('display', 'inline');

                        var tbl_body = document.createElement("tbody");
                        var odd_even = false;
                        $.each(data.content.Data, function () {
                            var tbl_row = tbl_body.insertRow();
                            tbl_row.className = odd_even ? "odd" : "even";
                            //console.log(this);
                            $.each(this, function (k, v) {
                                //console.log("k:"+k + "v: "+v);
                                var cell = tbl_row.insertCell();
                                if(v != null){
                                    cell.appendChild(document.createTextNode(v.toString()));
                                }
                            })
                        odd_even = !odd_even;
                        })
                        $("#AnalyticsTable").append(tbl_body).css('display', 'inline');

                        console.log(data);

                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        $('#error').html("<b>Error whilst trying to retreive analytics data</b>").css('display', 'inline');
                    }
                });

			}
		</script>
</head>

<body>
	<div id="LogIn"  style="width: 300px; float:right">
		<form id="LogInForm">
			<label name="log in">Please Log in:</label><br/>
			<input type="text" name="username" id="userNameBx" placeholder="Enter Username"/><br/>
			<input type="text" name="password" id="userPassBx" placeholder="Enter Password"/><br/>
			<input type="button" onclick="logIn(LogInForm.userNameBx.value,LogInForm.userPassBx.value)" value="Submit"/>
		</form>
	</div>
	<div id="AnalyticsData"></div>
    <br/><br/><br/>
    <table id="AnalyticsTable" style="display:none;">
        <tr>
            <th>Connection Number</th>
            <th>Date and Time</th>
            <th>UserName</th>
            <th>IP Address</th>
            <th>WHOIS</th>
            <th>User Agent</th>
            <th>Requested URI</th>
            <th>Authenticated</th>
            <th>Errors</th>
        </tr>
    </table>
    <div id="error"/>
</body>
</html>